<div
  class="container-fluid d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="form-container w-50">
    <div class="container border p-5">
      <div class="text-center mb-4">
        <h2>Configuration Management</h2>
      </div>

      <form
        #configForm="ngForm"
        (ngSubmit)="handleSubmit(configForm)"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <!-- Total Tickets Input -->
        <div class="row mb-3 w-75">
          <label for="totalTickets" class="col-form-label text-center"
            >Total Tickets</label
          >
          <input
            type="number"
            id="totalTickets"
            [(ngModel)]="configuration.totalTickets"
            name="totalTickets"
            class="form-control"
            required
            min="1"
            pattern="^[1-9][0-9]*$"
            (input)="validateForm()"
          />
          <div *ngIf="!isTotalCapacityValid" class="invalid-feedback">
            Maximum Ticket Capacity must be less than Total Tickets!
          </div>
        </div>

        <!-- Max Ticket Capacity Input -->
        <div class="row mb-3 w-75">
          <label for="maxTicketCapacity" class="col-form-label text-center"
            >Max Ticket Capacity</label
          >
          <input
            type="number"
            id="maxTicketCapacity"
            [(ngModel)]="configuration.maxTicketCapacity"
            name="maxTicketCapacity"
            class="form-control"
            required
            min="1"
            max="{{ configuration.totalTickets }}"
            pattern="^[1-9][0-9]*$"
            (input)="validateForm()"
          />
        </div>

        <!-- Ticket Release Rate Input -->
        <div class="row mb-3 w-75">
          <label for="ticketReleaseRate" class="col-form-label text-center"
            >Ticket Release Rate</label
          >
          <input
            type="range"
            id="ticketReleaseRate"
            [(ngModel)]="configuration.ticketReleaseRate"
            name="ticketReleaseRate"
            class="form-range"
            required
            min="1"
            max="10"
            step="1"
            (input)="validateForm()"
          />
          <div class="text-center mt-2">
            <span>{{ configuration.ticketReleaseRate }}</span>
          </div>
        </div>

        <!-- Customer Retrieval Rate Input -->
        <div class="row mb-3 w-75">
          <label for="customerRetrievalRate" class="col-form-label text-center"
            >Customer Retrieval Rate</label
          >
          <input
            type="range"
            id="customerRetrievalRate"
            [(ngModel)]="configuration.customerRetrievalRate"
            name="customerRetrievalRate"
            class="form-range"
            required
            min="1"
            max="10"
            step="1"
            (input)="validateForm()"
          />
          <div class="text-center mt-2">
            <span>{{ configuration.customerRetrievalRate }}</span>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="btn btn-primary mt-3"
          [disabled]="!isFormValid || isSubmitting"
        >
          Submit
        </button>

        <!-- Spinner Animation -->
        <div *ngIf="isSubmitting" class="text-center mt-3">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Display existing configuration if available -->
  <div
    class="data-container w-25 border p-3 ms-3"
    *ngIf="existingConfiguration"
  >
    <div class="text-center mb-4">
      <h3>Available Configuration Data</h3>
    </div>

    <div class="alert alert-secondary mt-4">
      <h5 class="text-center">Available Configuration</h5>
      <p>
        <strong>Total Tickets:</strong> {{ existingConfiguration.totalTickets }}
      </p>
      <p>
        <strong>Max Ticket Capacity:</strong>
        {{ existingConfiguration.maxTicketCapacity }}
      </p>
      <p>
        <strong>Ticket Release Rate:</strong>
        {{ existingConfiguration.ticketReleaseRate }}
      </p>
      <p>
        <strong>Customer Retrieval Rate:</strong>
        {{ existingConfiguration.customerRetrievalRate }}
      </p>
    </div>
  </div>
</div>
