<div
  class="container-fluid d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="form-container w-50">
    <div class="container border p-5">
      <div class="text-center mb-4">
        <h2>Create Customer</h2>
      </div>

      <form
        (ngSubmit)="createCustomer()"
        id="customerForm"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <!-- Number of Customers Input -->
        <div class="row mb-3 w-75">
          <label for="inputCustomers" class="col-form-label text-center">
            Number of Customers
          </label>
          <input
            type="number"
            id="inputCustomers"
            [(ngModel)]="newCustomer.NumberOFCustomers"
            name="numberOfCustomers"
            class="form-control"
            min="1"
            step="1"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid number of customers.
          </div>
        </div>

        <!-- Total Tickets Per Purchase Input -->
        <div class="row mb-3 w-75">
          <label for="inputTickets" class="col-form-label text-center">
            Tickets Per Purchase
          </label>
          <input
            type="number"
            id="inputTickets"
            [(ngModel)]="newCustomer.TicketsPerPurchase"
            name="ticketsPerPurchase"
            class="form-control"
            min="1"
            step="1"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid number of tickets per purchase.
          </div>
        </div>

        <!-- VIP or Regular Dropdown -->
        <div class="row mb-3 w-75">
          <label for="inputCustomerType" class="col-form-label text-center">
            Customer Type
          </label>
          <select
            id="inputCustomerType"
            [(ngModel)]="newCustomer.isVip"
            name="customerType"
            class="form-control"
            required
          >
            <option value="false">Regular</option>
            <option value="true">VIP</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid customer type.
          </div>
        </div>

        <!-- Submit Button -->
        <button
          *ngIf="
            newCustomer.NumberOFCustomers > 0 ||
            newCustomer.TicketsPerPurchase > 0
          "
          type="submit"
          class="btn btn-primary mt-3"
        >
          Create
        </button>
      </form>

      <!-- Success Message -->
      <div
        *ngIf="isSuccessful"
        class="alert alert-success mt-4 text-center"
        role="alert"
      >
        {{ responseMessage }}
      </div>
    </div>
  </div>
</div>
